[submodule "src/dji_psdk_ros2_control/as2_platform_dji_psdk"]
    path = src/dji_psdk_ros2_control/as2_platform_dji_psdk
    url = https://github.com/pratik-adhikari/as2_platform_dji_psdk.git

[submodule "as2_platform_dji_psdk"]
    path = as2_platform_dji_psdk
    url = https://github.com/pratik-adhikari/as2_platform_dji_psdk.git

[submodule "apriltag_ros"]
    path = apriltag_ros
    url = https://github.com/christianrauch/apriltag_ros.git

[submodule "aerostack2"]
    path = aerostack2
    url = https://github.com/pratik-adhikari/aerostack2.git

[submodule "project_gazebo"]
    path = project_gazebo
    url = https://github.com/pratik-adhikari/project_gazebo.git
[submodule "project_dji_psdk"]
	path = project_dji_psdk
	url = https://github.com/pratik-adhikari/project_dji_psdk.git