# Basic Doxygen configuration
PROJECT_NAME           = "DJI PSDK ROS2 Control"
PROJECT_NUMBER         = "1.0"
OUTPUT_DIRECTORY       = docs/
INPUT                  = as2_platform_dji_psdk/include \
                         as2_platform_dji_psdk/src \
                         geogimbal/include \
                         geogimbal/src \
                         mission_bt/include \
                         mission_bt/src \
                         camera_controller/include \
                         camera_controller/src \
                         psdk_interface/include \
                         psdk_interface/src
RECURSIVE              = YES
GENERATE_LATEX         = NO
GENERATE_HTML          = YES
GENERATE_TREEVIEW      = YES
EXTRACT_ALL            = YES
